{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Comprado por</th>
              </tr>
            </thead>
            <tbody>
            {% for item in lista %}
            <tr>
              <th scope="row">{{item.id}}</th>
              <td>{{item.nombre_producto}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.precio_producto}}</td>
              <td>{{item.comprado_por}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock content %}