{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-2">
    <form method="post" enctype="multipart/form-data">
        <div class="container w-50">
          <div class="container text-center">
            {% csrf_token %}
                <img
                  src="{{form.instance.producto_imagen.url}}"
                  class="img-fluid"
                  alt="image desc"
                  style="width: 400px;"
                />
          </div>
          <section>
            {{form.as_p}}
          </section>
          <div class="container-fluid text-center"> 
            <button class="btn btn-info">Comprar Producto</button>
          </div>
        </div>
    </form>
</div>
{% endblock content %}  